@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&family=Roboto&display=swap');

html
{
    background-color: #F8F8F8;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    margin: 0;
}

#title
{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    text-align: center;

    font-family: 'Lakki Reddy', cursive;
    font-size: 62px;
    height: 62px;

    color: #c10000;
}

#container
{
    display: flex;
    height: 90vh;

    margin: 20px;
}

#mainText
{
    width: 75%;
    min-height: 200px;
    margin-right: 20px;

    overflow: auto;

    outline: 0;

    font-family: inherit;
    font-size: inherit;

    column-count: 3;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: #ccc;
    column-fill: auto;

    background: white;
    border: solid 1px #ccc;
    border-radius: 20px;
    padding: 32px;
}

#rolls
{
    width: 25%;
    background: lightgrey;
    word-break: break-all;
    overflow-y: auto;

    background: white;
    border: solid 1px #ccc;
    border-radius: 20px;
    padding: 32px;
}

#rolls > p:first-child
{
    margin-top: 0;
}

.formula
{
    font-weight: bold;
    color: #c10000;

    cursor: pointer;
}
